@{
  Layout = "_Layout";
}
<div class="container-fluid">
  <h2><em>Home</em></h2>
  <div class="row">
    <div class="col-md-6 card text-center">
      <img class="card card-img-middle" src="https://i1.sndcdn.com/artworks-000132695454-b6tzui-t500x500.jpg" alt="AnCo">
      <div class="card-body">
        <p class="card-text">
          <a class="btn btn-secondary" href="/Venues">See all venues</a>
        </p>
      </div>
    </div>
    <div class="col-md-6 card text-center">
      <img class="card card-img-middle" src="https://malikaziz.files.wordpress.com/2017/04/outkast.jpg?w=640" alt="Outkast">
      <div class="card-body">
        <p class="card-text">
          <a class="btn btn-secondary" href="/Bands">See all bands</a>
        </p>
      </div>
    </div>
  </div>
</div>
