<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/Venues" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Venues
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/Bands" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bands
        </a>
      </li>
    </ul>
  </div>
</nav>
<!-- main header -->
<div class="col-12 jumbotron" style="border:5px; solid black;">
  <h1 class="display-1" id="main-header">Band Tracker</h1>
  <h3><em>Web App</em></h3>
</div>
